<script>
    function findAncestor (el, name) {
        while ((el = el.parentElement) && el.nodeName.toLowerCase() !== name);
        return el;
    }
    function colorAll(el, textColor) {
        el.style.color = textColor;
        Array.from(el.children).forEach((e) => {colorAll(e, textColor);});
    }
    function setBackgroundImage(src, textColor) {
        var section = findAncestor(document.currentScript, "section");
        if (section) {
            section.setAttribute("data-background-image", src);
			if (textColor) colorAll(section, textColor);
        }
    }
</script>

<style>
h1 {
  border: 1.5px solid #333;
  padding: 8px 12px;
  background-image: linear-gradient(#2774AE,#ebf8e1, #FFD100);
  position: static;
}
</style>

<h1 style='color:white'> Statistics 21 <br/> Python & Other Technologies for Data Science </h1>

<h3 style='color:white'>Vivian Lew, PhD - Wednesday, Week 5</h3>

<script>
    setBackgroundImage("Window1.jpg");
</script>

# Pandas Basics

## Week 5 Wednesday

## Adapted from Pandas in Action by B.Pashkaver and Python for Data Analysis by W. McKinney

# Pandas

- Started in 2008 with a developer's frustration with both Excel and R.  Released in December 2009.
- Wanted to address two problems: data cleaning and aggregation
- Selected Python - needed little code to express a complex idea and it was easy to read
- Others have built extensively on top of that beginning
- Many believe the growth of Python is rooted in Pandas

## Pandas (cont'd)

- The skill set for using something like dplyr in R is the same so the move to Pandas is easy
- Have a plan
- Program the correct inputs in the proper order
- Identify the correct function you need to complete an action
- Pandas is powerful and flexible

## Pandas (cont'd)

- Pandas is built on top of NumPy, we will circle back and learn more about NumPy
- NumPy is a numerical computing library for Python
- Pandas was developed to extend NumPy's capabilities to include higher-level data analysis tasks
- It allows us to have traditional tables of data where each column can be a different data type.

https://pandas.pydata.org/pandas-docs/stable/reference/series.html

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

## Pandas (cont'd)

- Pandas provides two primary data structures: Series and DataFrame. 
- A Pandas Series is a one-dimensional NumPy array with an index that can hold any data type but it must be single type. 
- A Panda Series index is just labels for each element in the Panda Series.
- A Pandas DataFrame is a two-dimensional NumPy array with column and row labels. It is mutable and heterogenous (like R's data frames)
- Pandas provides many functions that allow you to manipulate and analyze data in these structures and these functions are mostly built on NumPy functions.

## an aside, SQL

- SQL shares features with Pandas but has a different purpose
- SQL is used to communicate with relational databases
- Relational databases always great in a multi-user simultaneous access/editing environment.
- Pandas complements a knowledge of SQL - your knowledge of SQL allows you to access the company's data and then you use Pandas to analyze it.

## Startup

ALWAYS (community agreed)

In [1]:
import numpy as np
import pandas as pd

please download the Fortune_1000_2020.csv file from the Week 5 module of BruinLearn into the same folder as your current working Jupyter notebook

In [2]:
# useful options
pd.set_option('display.float_format', '{:.2f}'.format)
#pd.set_option('display.max_rows', None) # defaults to 10

## Reading Data

read_csv( ) is the basics for reading text

In [3]:
Fort_1K_20 = pd.read_csv('Fortune_1000_2020.csv')
type(Fort_1K_20)

pandas.core.frame.DataFrame

- During import pandas infers the most appropriate data type for each column. 
- Sometimes it avoids making assumptions though. 
- When that happens, the data is asssigned to string.
- String is a versatile data type as it can represent any value
- We will work on converting things - it's part of data cleaning.

In [4]:
Fort_1K_20 # reveals about 10 columns by default

,Rank,Name,Number Of Employees,Change In Rank,Industry,Company Description,Revenues_millions,Revenue_Change,Profits_millions,Profit_Change,Assets\n($millions),Market Value\nAs of 3/31/20 ($m)
0,1,Walmart,2200000,-,Retail Company,Walmart Inc. Is An American Multinational Reta...,"$523,964",1.90%,"$14,881.00",123.10%,"$236,495","$321,803"
1,2,Amazon.com,798000,3,E-commerce Company,"Amazon.com, Inc. Is An American Multinational ...","$280,522",20.50%,"$11,588.00",15.00%,"$225,248","$970,680"
2,3,Exxon Mobil,74900,-1,Corporation,"Exxon Mobil Corp. engages in the exploration, ...","$264,938",-8.70%,"$14,340.00",-31.20%,"$362,597","$160,696"
3,4,Apple,137000,-1,Technology Company,Apple Inc. Is An American Multinational Techno...,"$260,174",-2.00%,"$55,256.00",-7.20%,"$338,516","$1,112,641"
4,5,Cvs Health,290000,3,Healthcare Company,Cvs Health Is An American Healthcare Company T...,"$256,776",32.00%,"$6,634.00",-,"$222,449","$77,376"
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Mr. Cooper Group,9100,-,Home Loan Servicers,Mr. Cooper Group Inc. Provides Quality Servici...,"$2,007",-,$274.00,-,"$18,305",$674
996,997,Herc Holdings,5100,-4,Equipment Rental,They Are One Of The Largest Equipment Rental C...,"$1,999",1.10%,$47.50,-31.30%,"$3,817",$591
997,998,Healthpeak Properties,204,-,Real Estate Investment,"Healthpeak Properties, Inc. Is A Real Estate I...","$1,997",8.20%,$45.50,-95.70%,"$14,033","$12,059"
998,999,Spx Flow,5000,-37,Pumps And Pumping Equipment,It Is A World Leader In Sustainable Solutions ...,"$1,996",-4.50%,-$95.10,-316.10%,"$2,437","$1,212"
999,1000,Liberty Oilfield Services,2571,-58,Oil And Gas,Liberty Is An Innovative Service Company Provi...,"$1,990",-7.60%,$39.00,-69.20%,"$1,283",$303

## DataFrame - basic details

- This object is a DataFrame for multicolumn data.
- Roughly equivalent to the Data Frame in R
- There are 12 columns of the data 1000 rows with zero indexed row labels
- We could have set any column as the index but we did not set one so Pandas generated an index for us.
- An index could be any column which can act as a primary identifier or reference for each row.

In [5]:
Fort_1K_20 = pd.read_csv('Fortune_1000_2020.csv', index_col = 'Name')

In [6]:
Fort_1K_20.head() # bottom is Fort_1K_20.tail()

,Rank,Number Of Employees,Change In Rank,Industry,Company Description,Revenues_millions,Revenue_Change,Profits_millions,Profit_Change,Assets\n($millions),Market Value\nAs of 3/31/20 ($m)
Name,,,,,,,,,,,
Walmart,1,2200000,-,Retail Company,Walmart Inc. Is An American Multinational Reta...,"$523,964",1.90%,"$14,881.00",123.10%,"$236,495","$321,803"
Amazon.com,2,798000,3,E-commerce Company,"Amazon.com, Inc. Is An American Multinational ...","$280,522",20.50%,"$11,588.00",15.00%,"$225,248","$970,680"
Exxon Mobil,3,74900,-1,Corporation,"Exxon Mobil Corp. engages in the exploration, ...","$264,938",-8.70%,"$14,340.00",-31.20%,"$362,597","$160,696"
Apple,4,137000,-1,Technology Company,Apple Inc. Is An American Multinational Techno...,"$260,174",-2.00%,"$55,256.00",-7.20%,"$338,516","$1,112,641"
Cvs Health,5,290000,3,Healthcare Company,Cvs Health Is An American Healthcare Company T...,"$256,776",32.00%,"$6,634.00",-,"$222,449","$77,376"

In [7]:
len(Fort_1K_20),  Fort_1K_20.shape, Fort_1K_20.size

(1000, (1000, 11), 11000)

In [8]:
Fort_1K_20.index

Index(['Walmart', 'Amazon.com', 'Exxon Mobil', 'Apple', 'Cvs Health',
       'Berkshire Hathaway', 'Unitedhealth Group', 'Mckesson', 'At&t',
       'Amerisourcebergen',
       ...
       'Hovnanian Enterprises', 'Air Lease', 'Rollins', 'Sba Communications',
       'Deluxe', 'Mr. Cooper Group', 'Herc Holdings', 'Healthpeak Properties',
       'Spx Flow', 'Liberty Oilfield Services'],
      dtype='object', name='Name', length=1000)

In [9]:
Fort_1K_20.columns

Index(['Rank', 'Number Of Employees', 'Change In Rank', 'Industry',
       'Company Description', 'Revenues_millions', 'Revenue_Change',
       'Profits_millions', 'Profit_Change', 'Assets\n($millions)',
       'Market Value\nAs of 3/31/20 ($m)'],
      dtype='object')

In [10]:
Fort_1K_20.describe() #  like summary in R

         Rank  Number Of Employees
count 1000.00              1000.00
mean   500.50             34615.98
std    288.82             92024.01
min      1.00                51.00
25%    250.75              6400.00
50%    500.50             13000.00
75%    750.25             29192.00
max   1000.00           2200000.00

In [11]:
Fort_1K_20.dtypes

Rank                                 int64
Number Of Employees                  int64
Change In Rank                      object
Industry                            object
Company Description                 object
Revenues_millions                   object
Revenue_Change                      object
Profits_millions                    object
Profit_Change                       object
Assets\n($millions)                 object
Market Value\nAs of 3/31/20 ($m)    object
dtype: object

Pandas dtypes are  
- object (for text or mixed numeric/non), 
- int64 and float64, 
- bool, 
- datetime64 (date and time values), timedelta (difference between datetime) 
- category (list of text values)

![](dtypes.png)

## Indexing and Selecting

- Pandas Series uses series[label] for selection
- Pandas Series can also be indexed - series.iloc[n]
- Pandas Series can be sliced - e.g., series[label1:labeln] or using series.iloc[0:n]
- Pandas Series can use boolean condition - e.g., series[series_example > 4]) or a boolean array series[[True, False, True, False]]

## Pandas Series Indexing

We can index parts of a dataframe to generate a Series.

In [12]:
Fort_1K_20['Number Of Employees'].describe()

count      1000.00
mean      34615.98
std       92024.01
min          51.00
25%        6400.00
50%       13000.00
75%       29192.00
max     2200000.00
Name: Number Of Employees, dtype: float64

In [13]:
type(Fort_1K_20['Number Of Employees'])

pandas.core.series.Series

In [14]:
Fort_1K_20['Rank']

Name
Walmart                         1
Amazon.com                      2
Exxon Mobil                     3
Apple                           4
Cvs Health                      5
                             ...
Mr. Cooper Group              996
Herc Holdings                 997
Healthpeak Properties         998
Spx Flow                      999
Liberty Oilfield Services    1000
Name: Rank, Length: 1000, dtype: int64

In [15]:
# using a label
Fort_1K_20['Rank']['Adobe']

285

In [16]:
# slicing with label
Fort_1K_20['Rank']['Walmart':'Cvs Health']

Name
Walmart        1
Amazon.com     2
Exxon Mobil    3
Apple          4
Cvs Health     5
Name: Rank, dtype: int64

## Pandas Series using iloc

In [17]:
Fort_1K_20.iloc[0] # access the first row

Rank                                                                                1
Number Of Employees                                                           2200000
Change In Rank                                                                      -
Industry                                                               Retail Company
Company Description                 Walmart Inc. Is An American Multinational Reta...
Revenues_millions                                                            $523,964
Revenue_Change                                                                  1.90%
Profits_millions                                                           $14,881.00
Profit_Change                                                                 123.10%
Assets\n($millions)                                                          $236,495
Market Value\nAs of 3/31/20 ($m)                                             $321,803
Name: Walmart, dtype: object

In [18]:
type(Fort_1K_20.iloc[0])

pandas.core.series.Series

In Pandas, the .iloc indexer is used to select data from a DataFrame or Series by using integer-based indexing.

In [19]:
Fort_1K_20.iloc[0,4] # access the first row, fifth column

'Walmart Inc. Is An American Multinational Retail Corporation That Operates A Chain Of Hypermarkets, Discount Department Stores, And Grocery Stores, Headquartered In Bentonville, Arkansas.'

In [20]:
Fort_1K_20.iloc[:,3] # access the fourth column

Name
Walmart                                   Retail Company
Amazon.com                            E-commerce Company
Exxon Mobil                                  Corporation
Apple                                 Technology Company
Cvs Health                            Healthcare Company
                                        ...
Mr. Cooper Group                     Home Loan Servicers
Herc Holdings                           Equipment Rental
Healthpeak Properties             Real Estate Investment
Spx Flow                     Pumps And Pumping Equipment
Liberty Oilfield Services                    Oil And Gas
Name: Industry, Length: 1000, dtype: object

## Pandas Series (cont'd)

In [21]:
Fort_1K_20.iloc[0].index

Index(['Rank', 'Number Of Employees', 'Change In Rank', 'Industry',
       'Company Description', 'Revenues_millions', 'Revenue_Change',
       'Profits_millions', 'Profit_Change', 'Assets\n($millions)',
       'Market Value\nAs of 3/31/20 ($m)'],
      dtype='object')

- We can also access a row with a label

- the .loc indexer is used to select data from a DataFrame or Series using label-based indexing.

- The syntax for using .loc is df.loc[row_label, column_label], where df is the DataFrame or Series that you want to select data from, and row_label and column_label are the labels of the rows and columns.

In [22]:
Fort_1K_20.loc['Apple']

Rank                                                                                4
Number Of Employees                                                            137000
Change In Rank                                                                     -1
Industry                                                           Technology Company
Company Description                 Apple Inc. Is An American Multinational Techno...
Revenues_millions                                                            $260,174
Revenue_Change                                                                 -2.00%
Profits_millions                                                           $55,256.00
Profit_Change                                                                  -7.20%
Assets\n($millions)                                                          $338,516
Market Value\nAs of 3/31/20 ($m)                                           $1,112,641
Name: Apple, dtype: object

In [23]:
Fort_1K_20.loc[Fort_1K_20['Industry'] == 'Technology Company']

,Rank,Number Of Employees,Change In Rank,Industry,Company Description,Revenues_millions,Revenue_Change,Profits_millions,Profit_Change,Assets\n($millions),Market Value\nAs of 3/31/20 ($m)
Name,,,,,,,,,,,
Apple,4,137000,-1,Technology Company,Apple Inc. Is An American Multinational Techno...,"$260,174",-2.00%,"$55,256.00",-7.20%,"$338,516","$1,112,641"
Microsoft,21,144000,5,Technology Company,Microsoft Corporation Is An American Multinati...,"$125,843",14.00%,"$39,240.00",136.80%,"$286,556","$1,199,550"
Corning,277,49500,2,Technology Company,Corning Incorporated Is An American Multinatio...,"$11,503",1.90%,$960.00,-9.90%,"$28,898","$15,664"
Intercontinental Exchange,459,5989,10,Technology Company,"Intercontinental Exchange Builds, Operates And...","$6,547",4.30%,"$1,933.00",-2.80%,"$94,493","$44,343"
Diebold Nixdorf,607,22000,-39,Technology Company,Diebold Nixdorf Is A Multinational Financial A...,"$4,409",-3.70%,-$341.30,-,"$3,791",$273
Itron,870,7300,16,Technology Company,Itron Is An American Technology Company That O...,"$2,503",5.30%,$49.00,-,"$2,708","$2,242"
F5 Networks,932,5325,7,Technology Company,"F5, Inc. Is An American Company That Specializ...","$2,242",3.70%,$427.70,-5.70%,"$3,390","$6,484"

In [24]:
Fort_1K_20.loc[Fort_1K_20['Number Of Employees'] < 250]

,Rank,Number Of Employees,Change In Rank,Industry,Company Description,Revenues_millions,Revenue_Change,Profits_millions,Profit_Change,Assets\n($millions),Market Value\nAs of 3/31/20 ($m)
Name,,,,,,,,,,,
Host Hotels & Resorts,514,175,-12,Real Estate,"The Trust Provides Equity Holdings, Asset Mana...","$5,469",-1.00%,$920.00,-15.40%,"$12,305","$7,793"
A-mark Precious Metals,565,183,-164,Metals Trading Company,A Mark Coin Company -- Is A Precious Metals Tr...,"$4,783",-37.10%,$2.20,-,$705,$86
Agnc Investment,798,51,-,Real Estate Investment Trust Company,We Invest Predominately In Agency Residential ...,"$2,920",108.30%,$688.00,433.30%,"$113,082","$5,723"
Air Lease,992,117,-,Aircraft Leasing,Air Lease Corporation Is A Leading Aircraft Le...,"$2,017",20.10%,$587.10,14.90%,"$21,709","$2,516"
Healthpeak Properties,998,204,-,Real Estate Investment,"Healthpeak Properties, Inc. Is A Real Estate I...","$1,997",8.20%,$45.50,-95.70%,"$14,033","$12,059"

## Pandas Series conversions

- We can convert Pandas series into lists or Numpy arrays

In [25]:
row_list = pd.Series.to_list(Fort_1K_20.loc['Apple'])
print(type(row_list), row_list)

<class 'list'> [4, 137000, '-1', 'Technology Company', 'Apple Inc. Is An American Multinational Technology Company Headquartered In Cupertino, California, That Designs, Develops And Sells Consumer Electronics, Computer Software, And Online Services.', '$260,174', '-2.00%', '$55,256.00', '-7.20%', '$338,516', '$1,112,641']

In [26]:
rank_np = pd.Series.to_numpy(Fort_1K_20['Rank'])
print(type(rank_np), rank_np[0:10])

<class 'numpy.ndarray'> [ 1  2  3  4  5  6  7  8  9 10]

also can convert to csv, Excel, json etc.

## Pandas Series conversions - object to float

In [27]:
def convert_dash_to_NaN(df):
    df.replace('^-$', np.nan, inplace=True, regex=True)
    return df

def convert_currency_to_numeric(df, column):
    df[column] = df[column].str.replace(',', '').str.replace('$', '').astype(float)
    return df

def convert_percent_to_numeric(df, column):
    df[column] = df[column].str.replace('%', '').astype(float)
    return df

In [28]:
Fort_1K_20_no_dash = convert_dash_to_NaN(Fort_1K_20)

curr_objs = ['Revenues_millions', 'Profits_millions',
             'Assets\n($millions)', 'Market Value\nAs of 3/31/20 ($m)']
for i in curr_objs:
    Fort_1K_20_no_dash = convert_currency_to_numeric(Fort_1K_20_no_dash, i )

percent_objs = ['Revenue_Change', 'Profit_Change']

for i in percent_objs:
    Fort_1K_20_no_dash = convert_percent_to_numeric(Fort_1K_20_no_dash, i )

In [29]:
Fort_1K_20_no_dash

,Rank,Number Of Employees,Change In Rank,Industry,Company Description,Revenues_millions,Revenue_Change,Profits_millions,Profit_Change,Assets\n($millions),Market Value\nAs of 3/31/20 ($m)
Name,,,,,,,,,,,
Walmart,1,2200000,NaN,Retail Company,Walmart Inc. Is An American Multinational Reta...,523964.00,1.90,14881.00,123.10,236495.00,321803.00
Amazon.com,2,798000,3,E-commerce Company,"Amazon.com, Inc. Is An American Multinational ...",280522.00,20.50,11588.00,15.00,225248.00,970680.00
Exxon Mobil,3,74900,-1,Corporation,"Exxon Mobil Corp. engages in the exploration, ...",264938.00,-8.70,14340.00,-31.20,362597.00,160696.00
Apple,4,137000,-1,Technology Company,Apple Inc. Is An American Multinational Techno...,260174.00,-2.00,55256.00,-7.20,338516.00,1112641.00
Cvs Health,5,290000,3,Healthcare Company,Cvs Health Is An American Healthcare Company T...,256776.00,32.00,6634.00,NaN,222449.00,77376.00
...,...,...,...,...,...,...,...,...,...,...,...
Mr. Cooper Group,996,9100,NaN,Home Loan Servicers,Mr. Cooper Group Inc. Provides Quality Servici...,2007.00,NaN,274.00,NaN,18305.00,674.00
Herc Holdings,997,5100,-4,Equipment Rental,They Are One Of The Largest Equipment Rental C...,1999.00,1.10,47.50,-31.30,3817.00,591.00
Healthpeak Properties,998,204,NaN,Real Estate Investment,"Healthpeak Properties, Inc. Is A Real Estate I...",1997.00,8.20,45.50,-95.70,14033.00,12059.00
Spx Flow,999,5000,-37,Pumps And Pumping Equipment,It Is A World Leader In Sustainable Solutions ...,1996.00,-4.50,-95.10,-316.10,2437.00,1212.00
Liberty Oilfield Services,1000,2571,-58,Oil And Gas,Liberty Is An Innovative Service Company Provi...,1990.00,-7.60,39.00,-69.20,1283.00,303.00

In [30]:
Fort_1K_20_no_dash['Change In Rank'] = pd.to_numeric(Fort_1K_20_no_dash['Change In Rank'], errors='coerce')
Fort_1K_20_no_dash['Industry'] = Fort_1K_20_no_dash['Industry'].astype('category')
Fort_1K_20_no_dash.dtypes

Rank                                   int64
Number Of Employees                    int64
Change In Rank                       float64
Industry                            category
Company Description                   object
Revenues_millions                    float64
Revenue_Change                       float64
Profits_millions                     float64
Profit_Change                        float64
Assets\n($millions)                  float64
Market Value\nAs of 3/31/20 ($m)     float64
dtype: object

## Pandas Series attributes and methods

- Series have attributes (properties and characteristics) and methods
- Too many to list but

https://pandas.pydata.org/docs/reference/api/pandas.Series.html#pandas.Series

- statistical functions are in the methods

## Pandas Series - attributes

In [31]:
print("Index:", Fort_1K_20['Number Of Employees'].index[0:10])
print("Values:", Fort_1K_20['Number Of Employees'].values[0:10])
print("Name:", Fort_1K_20['Number Of Employees'].name)
print("Data type:", Fort_1K_20['Number Of Employees'].dtype)
print("Shape:", Fort_1K_20['Number Of Employees'].shape)
print("Size:", Fort_1K_20['Number Of Employees'].size)
print("Empty:", Fort_1K_20['Number Of Employees'].empty)

Index: Index(['Walmart', 'Amazon.com', 'Exxon Mobil', 'Apple', 'Cvs Health',
       'Berkshire Hathaway', 'Unitedhealth Group', 'Mckesson', 'At&t',
       'Amerisourcebergen'],
      dtype='object', name='Name')
Values: [2200000  798000   74900  137000  290000  391500  325000   70000  247800
   21500]
Name: Number Of Employees
Data type: int64
Shape: (1000,)
Size: 1000
Empty: False

## Pandas Series - methods

In [32]:
print(Fort_1K_20_no_dash['Revenues_millions'].mean())
print(Fort_1K_20_no_dash['Revenues_millions'].median())
print(Fort_1K_20_no_dash['Revenues_millions'].min())
print(Fort_1K_20_no_dash['Revenues_millions'].max())
print(Fort_1K_20_no_dash['Revenues_millions'].count())

15902.36
5647.0
1990.0
523964.0
1000

## Pandas Series - methods (cont'd)

In [33]:
print(Fort_1K_20['Revenue_Change'].skew())
print(Fort_1K_20['Revenue_Change'].kurtosis())
print(Fort_1K_20['Revenue_Change'].nunique())
print(Fort_1K_20['Revenue_Change'].std())
print(Fort_1K_20['Revenue_Change'].var())

5.181415534310747
44.357991774174444
407
21.843378093907916
477.1331665534162

In [34]:
# standard operators work too
print(Fort_1K_20['Market Value\nAs of 3/31/20 ($m)'].add(1).mean())
print(Fort_1K_20['Market Value\nAs of 3/31/20 ($m)'].subtract(1).mean())
print(Fort_1K_20['Market Value\nAs of 3/31/20 ($m)'].multiply(2).mean())
print(Fort_1K_20['Market Value\nAs of 3/31/20 ($m)'].divide(2).mean())
print(Fort_1K_20['Market Value\nAs of 3/31/20 ($m)'].quantile(.75) - \
      Fort_1K_20['Market Value\nAs of 3/31/20 ($m)'].quantile(.50))

24655.229473684212
24653.229473684212
49308.458947368425
12327.114736842106
12700.0

In [35]:
# type category
print(Fort_1K_20_no_dash['Industry'].value_counts())

Industry
Insurance Company               38
Manufacturing Company           24
Financial Services Company      23
Retail Company                  19
Financial Services              15
                                ..
Food Processing                  1
Food & Beverages                 1
Food                             1
Financial Technology Company     1
wholesalers: Diversified         1
Name: count, Length: 479, dtype: int64

- The value_counts method returns a new Series object. 
- The index labels are the values 
- The values are the counts. 
- The length is equal to the number of unique values

In [36]:
print(Fort_1K_20_no_dash['Industry'].cat.categories)

Index(['Adhesive Manufacturing Company', 'Advertising Company', 'Aerospace',
       'Aerospace And Defense', 'Aerospace And Defense Company',
       'Aerospace And ‎defense', 'Aerospace Company', 'Aerospace Components',
       'Agricultural Chemical Company', 'Agricultural Machinery Company',
       ...
       'Well Drilling', 'Wholesale', 'Wholesale Company', 'Wholesalers',
       'Wireless Handsets', 'Wood Office Furniture Manufacturing Company',
       'Wood Window And Door Manufacturing Company', 'petroleum Industry',
       'software & Tech Services', 'wholesalers: Diversified'],
      dtype='object', length=479)

In [37]:
Fort_1K_20_no_dash['Industry'].replace({'Aerospace And ‎defense':'Aerospace And Defense',
                                        'Aerospace And Defense Company':'Aerospace And Defense',
                                        'Waste Management Company': 'Waste Management',
                                        'Wholesale Company': 'Wholesale',
                                        'Wholesalers': 'Wholesale'}, inplace = True)
print(Fort_1K_20_no_dash['Industry'].cat.categories)

Index(['Adhesive Manufacturing Company', 'Advertising Company', 'Aerospace',
       'Aerospace And Defense', 'Aerospace Company', 'Aerospace Components',
       'Agricultural Chemical Company', 'Agricultural Machinery Company',
       'Agriculture And Shipping', 'Agriculture Company',
       ...
       'Video Game Series', 'Waste Management', 'Well Drilling', 'Wholesale',
       'Wireless Handsets', 'Wood Office Furniture Manufacturing Company',
       'Wood Window And Door Manufacturing Company', 'petroleum Industry',
       'software & Tech Services', 'wholesalers: Diversified'],
      dtype='object', length=474)

## Please Break into teams

- Use Fortune_1000_2022.csv to populate a new Dataframe object
- Make certain your teammates can all do this
- Try to correct some of the errors in the data

## Try these

- Extract the first two rows.

- Calculate the average revenues, how did it compare to 2020?.

- Calculate a five number summary for any field.

## Sorting a series

In [38]:
Fort_1K_20_no_dash['Revenues_millions'].sort_values()

Name
Liberty Oilfield Services     1990.00
Spx Flow                      1996.00
Healthpeak Properties         1997.00
Herc Holdings                 1999.00
Mr. Cooper Group              2007.00
                               ...
Cvs Health                  256776.00
Apple                       260174.00
Exxon Mobil                 264938.00
Amazon.com                  280522.00
Walmart                     523964.00
Name: Revenues_millions, Length: 1000, dtype: float64

## Descending sort

In [39]:
Fort_1K_20_no_dash['Revenues_millions'].sort_values(ascending = False)

Name
Walmart                     523964.00
Amazon.com                  280522.00
Exxon Mobil                 264938.00
Apple                       260174.00
Cvs Health                  256776.00
                               ...
Mr. Cooper Group              2007.00
Herc Holdings                 1999.00
Healthpeak Properties         1997.00
Spx Flow                      1996.00
Liberty Oilfield Services     1990.00
Name: Revenues_millions, Length: 1000, dtype: float64

## Sorting with None or NaN

In [40]:
breads = pd.Series(data = ["flatbread", "sweet bread", 
                           "yeast bread", None], 
                   index = ["Monday", "Tuesday", "Wednesday", "Thursday"],\
                   name = "breads")
breads.sort_values(ascending = False) # None and NaN are last

Wednesday    yeast bread
Tuesday      sweet bread
Monday         flatbread
Thursday            None
Name: breads, dtype: object

In [41]:
breads.dropna().sort_values()

Monday         flatbread
Tuesday      sweet bread
Wednesday    yeast bread
Name: breads, dtype: object

## Sorting on the index

In [42]:
Fort_1K_20_no_dash.sort_index()

,Rank,Number Of Employees,Change In Rank,Industry,Company Description,Revenues_millions,Revenue_Change,Profits_millions,Profit_Change,Assets\n($millions),Market Value\nAs of 3/31/20 ($m)
Name,,,,,,,,,,,
3m,103,96163,-8.00,Multinational Conglomerate Company,The 3m Company Is An American Multinational Co...,32136.00,-1.90,4570.00,-14.60,44659.00,78529.00
A-mark Precious Metals,565,183,-164.00,Metals Trading Company,A Mark Coin Company -- Is A Precious Metals Tr...,4783.00,-37.10,2.20,NaN,705.00,86.00
A.o. Smith,785,15100,-54.00,Manufacturing Company,A. O. Smith Corporation Is An American Manufac...,2993.00,-6.10,370.00,-16.70,3058.00,6125.00
Aar,956,5650,NaN,Aviation; Aerospace & Defense,Aar Corp. Supplies Aftermarket Products And Se...,2148.00,16.40,7.50,-51.90,1517.00,623.00
Aaron's,649,12100,-2.00,Furniture Company,"Aaron's, Inc. Is A Lease-to-own Retailer. The ...",3948.00,3.10,31.50,-84.00,3298.00,1520.00
...,...,...,...,...,...,...,...,...,...,...,...
Zimmer Biomet Holdings,399,19900,-12.00,Medical Device,"Leading Medical Device Manufacturers, Zimmer A...",7982.00,0.60,1131.60,NaN,24639.00,20891.00
Zions Bancorp.,740,10188,20.00,Financial,The Company Also Offers An Array Of Investment...,3245.00,7.00,816.00,-7.70,69172.00,4389.00
Zoetis,472,10600,15.00,Pharmaceuticals,"Zoetis Inc. Is An American Drug Company, The W...",6260.00,7.50,1500.00,5.00,11545.00,55895.00
performance Food Group,168,18000,8.00,Food Products,The Company Distributes A Range Of Food Produc...,19744.00,12.10,166.80,-16.10,4654.00,2897.00
ross Stores,202,92500,7.00,Departmental Store,It Is An American Chain Of Discount Department...,16039.00,7.00,1660.90,4.60,9348.00,30952.00

## Helpers

Frequently we sort to determine the highest/lowest etc. It's done enough that there are helper methods

In [43]:
Fort_1K_20_no_dash['Revenue_Change'].nlargest(3)

Name
Centric Brands             259.80
Apollo Global Management   223.50
Cigna                      215.70
Name: Revenue_Change, dtype: float64

In [44]:
Fort_1K_20_no_dash['Revenue_Change'].nsmallest() # defaults to 5

Name
Dupont                      -75.00
Icahn Enterprises           -52.60
Iheartmedia                 -41.80
A-mark Precious Metals      -37.10
Jefferies Financial Group   -34.30
Name: Revenue_Change, dtype: float64

In [45]:
# finding NAs
print(Fort_1K_20_no_dash['Revenue_Change'].isna())

# could save the sum to a new object
# output_count_NaN = Fort_1K_20_no_dash['Revenue_Change'].isna().sum()

print(Fort_1K_20_no_dash['Revenue_Change'].isna().sum())

Name
Walmart                      False
Amazon.com                   False
Exxon Mobil                  False
Apple                        False
Cvs Health                   False
                             ...
Mr. Cooper Group              True
Herc Holdings                False
Healthpeak Properties        False
Spx Flow                     False
Liberty Oilfield Services    False
Name: Revenue_Change, Length: 1000, dtype: bool
8

## Proportion and percentage

In [46]:
Fort_1K_20_no_dash['Industry'].value_counts(normalize = True).nlargest(3)

Industry
Insurance Company            0.04
Manufacturing Company        0.02
Financial Services Company   0.02
Name: proportion, dtype: float64

In [47]:
(Fort_1K_20_no_dash['Industry'].value_counts(normalize = True).nlargest(3) * 100).round(1)

Industry
Insurance Company            3.80
Manufacturing Company        2.40
Financial Services Company   2.30
Name: proportion, dtype: float64

## Reading CSVs (not in Pandas)

In [48]:
import csv

pokemon = []
with open('pokemon.csv', newline='') as f:
    next(f)
    ff = csv.reader(f)
    for row in ff:
        pokemon.append(row[0])
hp = []
with open('hp.csv', newline='') as f:
    next(f)
    ff = csv.reader(f)
    for row in ff:
        hp.append(int(row[0]))
type1 = []
with open('type_1.csv', newline='') as f:
    next(f)
    ff = csv.reader(f)
    for row in ff:
        type1.append(row[0])

## From Dictionary to DataFrame

In [49]:
p = {"Name": pokemon[0:5], "hp": hp[0:5], "Type": type1[0:5]}
list(p.items())[:3]

[('Name', ['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon']),
 ('hp', [45, 60, 80, 39, 58]),
 ('Type', ['grass', 'grass', 'grass', 'fire', 'fire'])]

In [50]:
Pokemon = pd.DataFrame({"Name": pokemon, "hp": hp, "Type": type1})
Pokemon

           Name   hp      Type
0     Bulbasaur   45     grass
1       Ivysaur   60     grass
2      Venusaur   80     grass
3    Charmander   39      fire
4    Charmeleon   58      fire
..          ...  ...       ...
893   Regieleki   80  electric
894   Regidrago  200    dragon
895   Glastrier  100       ice
896   Spectrier  100     ghost
897     Calyrex  100   psychic

[898 rows x 3 columns]

<h1> Statistics 21 <br/> Have a good night! </h1>

<script>
    setBackgroundImage("Window1.jpg", "black");
</script>